@charset "UTF-8";
@import "bootstrap/bootstrap.scss";

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
$orage-1: #f0813d;
$gray-1: #fdf1eb;
$sidebar: 17vw;

@include media-breakpoint-up(lg) {
    #sidebar {
        height: 100vh;
        width: $sidebar;
        align-items: stretch;
        flex-direction: column;
        position: fixed;
        #sidebarCollapse {
            flex-direction: column;
            .navbar-nav {
                flex-direction: column;
            }
        }
    }
    #aside-main {
        max-height: 32.5vw;
    }

    #conteudo {
        position: relative;
        margin-left: $sidebar;
    }
    .profile-image {
        min-height: 45px;
    }
    .collapse-lg-mobile {
        display: none;
    }
    .h-lg-10 {
        height: 10vh;
    }
    .mh-75p {
        min-height: 75px;
    }
    .mw-25 {
        min-width: 25%;
        width: 25%;
    }
    .mw-50 {
        min-width: 50%;
        width: 50%;
    }
    .mw-100 {
        min-width: 100%;
        width: 100%;
    }
    .overflow-scroll-lg {
        overflow-y: scroll !important;
    }
    .inherit {
        max-height: inherit;
    }
}

@include media-breakpoint-down(lg) {
    #sidebar {
        background-color: $orage-1;
        .navbar-collapse {
            background-color: $white;
        }
    }
    .collapse-lg {
        display: none;
    }
    .profile-image {
        min-height: 25px;
        height: 2vh;
    }
    .dropdown-menu {
        right: 0 !important;
        left: unset !important;
    }
}

.dropdown-menu show {
    min-width: none;
}
.profile::after {
    content: unset;
}
.profile-image {
    height: 6vh;
}
.bg-orange-1 {
    background-color: $orage-1;
}
.orange-1 {
    color: $orage-1;
}
.border-orange {
    border-color: $orage-1!important;
}
.bg-gray-1 {
    background-color: $gray-1;
}
.h-10 {
    height: 10vh;
}
.h-15 {
    height: 15vh;
}
.col-0 {
    display: none !important;
}
.font-weight-bold {
    font-weight: bold;
}
.is-pointer {
    cursor: pointer;
}
.list-style-none {
    list-style: none;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
